.main_background {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url('../image/bg.jpg') no-repeat center center / cover;
}

.contact-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-wrapper > h1 {
  margin-bottom: 20px;
  color: #333;
}

.contact-wrapper > h2 {
  margin: 10px 0;
}